@import "./font.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  
}

label {
  color:#3a3a3a;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.newline {
  display: block;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Inter, Verdana, sans-serif;

  background-color: rgb(243, 243, 243);
}

main {
  display: flex;
  width: 100%;
}

.page-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-block-end: 1rem;
  max-width: 616px;

  background-image: url(./image/photo-1585202900225-6d3ac20a6962.avif);
  background-repeat: no-repeat;
  
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 13.5rem;
  padding-block: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.logo-image {
  width: 6rem;
}

.logo-text {
  color: white;
  font-family: Norse-Bold;
  font-size: 6.5rem;
}

.logo-source {
  color: white;
}

.page-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class$='-container'] {
  
  max-width: 60rem;
}

[class$='-section'] {
  padding: 2rem 3rem;
}

.description-section, legend {
  font-size: 2rem;
  font-weight: 600;
  word-spacing: 0.1rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block-end: 2rem;
}

.input-section, .form-group, .form-row {
  display: flex;
}

.input-section {
  flex-direction: column;
  background-color: white;
}

legend {
  margin-block-end: 1.5rem;
}

.form-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-block: 0.5rem;
  max-width: 50rem;

  & > * {
    flex: 1;
    max-width: 22rem;
  }
}

input:is([type='text'], [type='tel'], [type='email'], [type='password']) {
  border: 1px solid #E5E7EB;
  border-radius: 0.3rem;
  outline:none;

  padding: 0.4rem 0.8rem;
  font-size: 1.25rem;

  &:focus {
    border-color: #0000bb;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  }

  &:user-invalid {
    border-color: red;
  }
}

.form-group {
  gap: 0.5rem;
  flex-direction: column;
}

.error-message {
  display: none;
  color: rgb(177, 0, 0);
}

#btn-create {
  background-color: #596D48;
  color: white;
  font: inherit;
  font-size: 1.25rem;
  font-weight: 700;

  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #4f5f3e;
  }
}

.login-text {
  font-size: 1.1rem;
  margin-top: 2rem;

  a {
    color:#596D48;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: #2c3522;
  }
}